<%- include("../header.ejs") %>
<%- include("../navbar.ejs") %>

<section class="section">
	<div class="container">
		<h1 class="title"><%= title %></h1>
		<p class="subtitle">
			Sign Up
		</p>
	</div>
</section>

<%- include("../footer.ejs") %>
