<%- include("./header.ejs") %>
<%- include("./navbar.ejs") %>

<section class="section">
	<div class="container">
		<p class="subtitle">
			404 Not Found!
		</p>
	</div>
</section>

<%- include("./footer.ejs") %>
