<%- include("./header.ejs") %>

<section class="section">
	<div class="container">
		<h1 class="title"><%= title %></h1>
		<a href="/profile"> Profile</a>
		<a href="/signin"> Sign In</a>
		<a href="/signup"> Sign Up</a>
		<a href="/todo"> To Do</a>
		<p class="subtitle">
			404 Not Found!
		</p>
	</div>
</section>

<%- include("./footer.ejs") %>
